<% unless @url.nil? %>
  <%= @url.url %> red.is'd to <br/><br/><code><a href="<%= "http://#{env['HTTP_HOST']}/#{@url.id}" %>"><%= "http://#{env['HTTP_HOST']}/#{@url.id}" %></a></code><br/><br/>
<% end %>

<form method="post" action="/">
  <input type="text" name="url" size="48"/>
  <input type="submit" value="red.is!">
</form>
