<% unless @url.nil? %>
  <%= @url.url %> relink'd to <br/><br/><code><a href="<%= "http://#{env['HTTP_HOST']}/#{@url.id}" %>"><%= "http://#{env['HTTP_HOST']}/#{@url.id}" %></a></code><br/><br/>
<% end %>

<% if authorized? %>
  <form method="post" action="/">
    <input type="text" name="url" size="48"/>
    <input type="submit" value="relink!">
  </form>
<% else %>
  Sorry, this is <a href="http://twitter.com/roidrage">@roidrage</a>'s personal URL shortening space.<br/>
<% end %>