<html>
  <head>
    <title>relink</title>
    <link rel="stylesheet" href="/style.css" type="text/css" media="screen" title="no title" charset="utf-8"/>
  </head>
  <body>
    <div id="main">
      <h1><a href="/">relink a url today</a></h1>
    
      <%= yield %>

      <br/><br/>copyright &copy; <a href="http://paperplanes.de">Mathias Meyer</a><br/><br/>
      <a href="http://github.com/mattmatt/relink">Open source</a> and built using <a href="http://www.sinatrarb.com">Sinatra</a> and <a href="http://code.google.com/p/redis">Redis</a>.      
    </div>
  </body>
</html>