<html>
  <head>
    <title>red.is</title>
    <link rel="stylesheet" href="/style.css" type="text/css" media="screen" title="no title" charset="utf-8"/>
  </head>
  <body>
    <div id="main">
      <h1>red.is a url today</h1>
    
      <%= yield %>

      <br/><br/>copyright &copy; <a href="http://paperplanes.de">Mathias Meyer</a><br/><br/>
      Built with Sinatra and <a href="http://code.google.com/p/redis">Redis</a>.<br/>
      <a href="http://github.com/mattmatt/red.is">Source code</a>
    </div>
  </body>
</html>