body {
  text-align: center;
  font: 12px "Lucida Grande", "Helvetica", Arial, sans-serif;
}

#main {
  margin: 100px auto;
  width: 450px;
  text-align: left;
  background-color: lightgrey;
  padding: 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

h1 {
  margin-top: 0px;
}

input[type=submit] {
  color:white; 
  background-color: grey;
  border: none;
}

input[type=text] {
  border: 1px solid black;
}

a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}